body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-panel {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1f1f1f;
    min-width: 160px;
    z-index: 1;
}
.menu-panel.active {
    display: block;
}

#chat-container {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #8b8a8a;
    background-color: #262626;
    border-radius: 15px; 
}

#chat-window, #output p, #actions p {
    padding: 14px 0; 
    margin: 0 20px;
    color: #ffffff;
}

#chat-window, #actions p {
    border-bottom: 1px solid #e9e9e9;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #292929;
    display: block;
    width: 100%;
}

button {
    background-color: #6264a7;
    color: #fff;
    font-size: 19px;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
}

.hamburger-btn {
    border-radius: 15px;
    position: fixed; 
    top: 10px; 
    right: 10px; 
}


button:hover {
    background-color: #464775;
}

.container {
    background-color: #323130;
    border-radius: 10px;
}

.form-dark .form-outline {
    background-color: #323130;
}

.form-dark .form-outline input{
    color: #323130;
}
.form-dark .form-outline select {
    color: #fff;
}

.form-dark .form-label {
    color: #d0d0d0;
}

.btn-primary {
    background-color: #6264a7;
}

.btn-primary:hover {
    background-color: #464775;
}
